.mobile{
    display: none !important;
}
body{
    margin: 0px;
    width: 100%;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 22px;
    line-height: 32px;
    --myBlack: #151515;
    --myBrown: #d5966c;
    --myGray: #444444;
    --fullWidth: 1200px;
    background-color: white;
}

main{
    width: var(--fullWidth);
    margin: auto;
    background-color: white;
}
header{
    width: 100%;
}
.imageBackground{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: var(--fullWidth);
    height: 680px;
}

#leftSide{
    background-color: var(--myBlack);
    width: calc(0.3* var(--fullWidth));
    min-width: 0px;
}
#rightSid{
    background-color: white;
    width: calc(0.3* var(--fullWidth));
    min-width: 0px;
}
.heroImage{
    min-width: calc(0.3* var(--fullWidth));
    max-width: var(--fullWidth);
    background-color: white;
}

.textOverlay{
    position: absolute;
    top: 0;
    z-index: 99;
    display: flex;
    flex-direction: row;
    height: 70vh;
    padding-top: 15vh;
    width: var(--fullWidth);
    height: max-content;
}

#title{
    font-family: 'Big Shoulders Display';
    font-size: 96px;
    line-height: 88px;
    font-weight: bold !important;
    text-transform: uppercase;
    width: max-content;
    margin-left: calc(0.117* var(--fullWidth));
    height: fit-content;
    background-image: linear-gradient(90deg, white 63%,black 45%);
    background-clip: content-box;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing:2px;
    font-weight:bold;
}

.right{
    width: 300px;
    margin-left: 260px;
    margin-top: 55px;
}

.button1{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    text-decoration: none;
    width: fit-content;
}

.button1 .arrowInfo{
    width: 180px;
    height: 20px;
    font-size: 22px;
    line-height: 32px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    vertical-align: middle;
    background-color: var(--myBlack);
    font-family: 'Roboto Mono';
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.arrow{
    width: 10px;
    height: 15px;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--myBrown);
}

#topRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 100px;
    margin-bottom: 20px;
}
#bottomRow{
    display: flex;
    flex-direction: row;
    margin: 100px;
    margin-top: 20px;
}
#rightSide{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 45%;
}
#imageGrid2{
    width: calc(0.44* var(--fullWidth));
}
#imageGrid3{
    width: calc(0.375* var(--fullWidth));
}

#textArea h1{
    text-transform: uppercase;
    font-family: 'Big Shoulders Display';
    font-size: 70px;
    line-height: 70px;
}
#textArea{
    padding-right: 70px;
    padding-bottom: 20px;
    height: max-content;
}

#textB{
    background-color: var(--myBlack);
    color: white;
    padding: 50px;
    padding-top: 0px;
    margin-top: 20px;
    height: 320px;
    width: calc(0.29* var(--fullWidth));
}
#textB h1{
    text-transform: uppercase;
    font-family: 'Big Shoulders Display';
    font-size: 70px;
    line-height: 70px;
}

footer{
    height: 200px;
    width: var(--fullWidth);
    background-color: var(--myBlack);
    color: white;
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    column-gap: 20px;
}

#footerTitle{
    width: calc(0.6* var(--fullWidth));
}
#footerTitle h1{
    text-transform: uppercase;
    font-family: 'Big Shoulders Display';
    font-size: 36px;
    line-height: 36px;
    margin-left: 100px;
}
#footerDesc{
    margin-top: 20px;
}
#social{
    width: calc(0.4* var(--fullWidth));
    margin-right: 100px;
    text-align: right;
}
#social img{
    width: 25px;
    height: 25px;
    background-color: var(--myBlack);
    align-self:flex-start;
}
#social img:hover{
   background-color: var(--myBrown);
}

@media (max-width: 480px){
    .desktop{
        display: none !important;
    }
    .mobile{
        display: block !important;
    }
    body{
        width: 100%;
    }
    main{
        width: 100%;
        box-shadow: none;
    }
    .imageBackground{
        display: block;
        width: 100%;
        height: fit-content;
    }
    
    #leftSide{
        display: none;
    }
    #rightSide{
        display: none;
    }
    .heroImage{
        width: 100%;
    }


    .textOverlay{
        position: relative;
        top: 0;
        z-index: 0;
        display: block;
        flex-direction: none;
        height: fit-content;
        padding-top: 0px;
        margin-left: 20px;
        padding-right: 10px;
        width: 95%;
    }
    
    #title{
        text-transform: uppercase;
        font-size: 72px;
        line-height: 72px;
        height: fit-content;
        margin-left: 0px;
        background-image: none;
        background-clip: content-box;
        -webkit-background-clip: text;
        color: var(--myBlack);

    }
    
    .right{
        width: 100%;
        margin-left: 0px;
    }
    
    .button1{
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        text-decoration: none;
    }
    
    .button1 .arrowInfo{
        padding-top: 15px;
        padding-bottom: 20px;
        padding-left: 10px;
        vertical-align: middle;
        background-color: var(--myBlack);
        color: white;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .arrow{
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 30px;
    }




    #topRow{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 100px;
        margin-bottom: 20px;
    }
    #imageGrid1,#imageGrid2,#imageGrid3{
        width: 100%;
    }
    #bottomRow{
        display: flex;
        flex-direction: column;
        margin: 20px;
        margin-top: 20px;
    }
    #rightSide{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        margin-top: 10px;
    }
    
    #textArea h1{
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    #textArea{
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        font-size: 1.2rem;
    }
    
    #textB{
        width: 95%;
        background-color: var(--myBlack);
        color: white;
        padding: 10px;
        margin-top: 20px;
        height: 400px;
        margin-bottom: 100px;
        font-size: 1.5rem;
    }
    #textB h1{
        margin-top: 30px;
        text-transform: uppercase;
    }





    footer{
        height: max-content;
        width: 100%;
        background-color: var(--myBlack);
        color: white;
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        column-gap: 20px;
    }
     
    #footerTitle{
        width: 94%;
        text-transform: uppercase;
    }
    #footerTitle h1{
        margin: 20px;
    }
    #footerDesc{
        margin-top: 20px;
        margin-left: 20px;
        font-size: 1.2em;
    }
    #social{
        width: 60%;
        margin-left: 20px;
        text-align: left;
    }
    #social img{
        width: 25px;
        height: 25px;
        background-color: var(--myBlack);
        align-self:flex-start;
        padding-left: 0px;
    }
}

.hover-to-brown{
    background-color: var(--myBrown) !important;
}
.hover-to-black{
    background-color: var(--myBlack) !important;
}