.mobile{
    display: none !important;
}
.tablet{
    display: none !important;
}
body{
    margin: 0px;
    width: 100%;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 22px;
    line-height: 32px;
    --myBlack: #151515;
    --myBrown: #d5966c;
    --myGray: #444444;
    --fullWidth: 1200px;
    background-color: white;
}

main{
    width: 100%;
    margin: auto;
    background-color: white;
}
header{
    width: 100%;
}
.imageBackground{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: var(--fullWidth);
    height: 680px;
}

#leftSide{
    background-color: var(--myBlack);
    width: 1000px; /*calc(0.3* var(--fullWidth));*/
    min-width: 0px;
}
#rightSid{
    background-color: white;
    width: calc(0.3* var(--fullWidth));
    min-width: 0px;
}
.heroImage{
    min-width: 600px;
    max-width: var(--fullWidth);
    background-color: white;
}

.textOverlay{
    position: absolute;
    top: 0;
    z-index: 99;
    display: flex;
    flex-direction: row;
    height: 70vh;
    padding-top: 15vh;
    width: var(--fullWidth);
    height: max-content;
}

#title{
    font-family: 'Big Shoulders Display';
    font-size: 96px;
    line-height: 88px;
    font-weight: bold !important;
    text-transform: uppercase;
    width: max-content;
    margin-left: 220px;
    height: fit-content;
    background-image: linear-gradient(90deg, white 63%,black 45%);
    background-clip: content-box;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing:2px;
    font-weight:bold;
}

.right{
    width: 300px;
    margin-left: 400px;
    margin-top: 55px;
}

.button1{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    text-decoration: none;
    width: fit-content;
}

.button1 .arrowInfo{
    width: 180px;
    height: 20px;
    font-size: 22px;
    line-height: 32px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    vertical-align: middle;
    background-color: var(--myBlack);
    font-family: 'Roboto Mono';
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.arrow{
    width: 10px;
    height: 15px;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--myBrown);
}

#topRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 200px;
    margin-top: 50px;
    margin-bottom: 20px;
}
#bottomRow{
    display: flex;
    flex-direction: row;
    margin: 200px;
    margin-top: 20px;
}
#rightSide{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 45%;
}
.imageGrid2{
    width: calc(0.44* var(--fullWidth));
}
.imageGrid3{
    width: calc(0.435* var(--fullWidth));
}

#textArea h1{
    text-transform: uppercase;
    font-family: 'Big Shoulders Display';
    font-size: 70px;
    line-height: 70px;
}
#textArea{
    padding-right: 70px;
    padding-bottom: 20px;
    height: max-content;
}

#textB{
    background-color: var(--myBlack);
    color: white;
    padding: 50px;
    padding-top: 0px;
    margin-top: 20px;
    height: 320px;
    width: calc(0.35* var(--fullWidth));
}
#textB h1{
    text-transform: uppercase;
    font-family: 'Big Shoulders Display';
    font-size: 70px;
    line-height: 70px;
}

footer{
    height: 200px;
    width: 100%;
    background-color: var(--myBlack);
    color: white;
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    column-gap: 20px;
}

#footerTitle{
    width: calc(0.6* var(--fullWidth));
}
#footerTitle h1{
    text-transform: uppercase;
    font-family: 'Big Shoulders Display';
    font-size: 36px;
    line-height: 36px;
    margin-left: 200px;
}
#footerDesc{
    margin-top: 20px;
}
#social{
    width: calc(0.4* var(--fullWidth));
    margin-right: 200px;
    text-align: right;
}
#social i{
    margin: 5px;
}
#social i:hover{
   color: var(--myBrown);
   cursor: pointer;
}

.hover-to-brown{
    background-color: var(--myBrown) !important;
}
.hover-to-black{
    background-color: var(--myBlack) !important;
}